@charset "UTF-8";
.key {
    color: #FA0403;
    background-color: #FAE1AE;
    font-size: larger;
}
body {
    background-image: url(colorful-patterned-background.jpg);
    background-position: 30% 40%;
}
body p img {
    border: 5px dotted #258ACC;
}
body h1 {
    color: #F8B06B;
    font-family: "ヒラギノ角ゴシック Sans W8";
}
